*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background: rgb(31, 123, 193);
    color: #000;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/*Navigation*/
.nav-main{
    font-size: 17px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
}

/*Nav left*/

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #000;

} 

.nav-main ul li i{
    border-bottom: none;

}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.nav-main ul a{
    padding: 8px;
}

/*SHOWCASE*/
hr{
    margin: 10px 0px;
}

.showcase{
    width:70%;
    height: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: transparent;
    font-size: 20px; 
    font: bold;
    border-radius: 10%;
}

/*
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffff;
    font-size: 15px; 
    border: 1px solid #ffff; 
    margin: 10px 0px;
}

.btn:hover{
    opacity: .8;
}
*/

.showcase h2,
.shocase p{
    margin: 10px;
    padding: 0;
    width: 13%;
    height: 100px;
    left: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-box{
    border-radius: 15%;
    margin: -72px 440px ;
    padding: 0;
    width: 500px;
    height: 70px;
    left: 50%;
    top: 50%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000; 
}

.title-box h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium';
    color: #fff;
}



.ciudad-box img{
    margin: -10px 0px;
    padding: 0;
    width: 1215px;
    height:180px;
}


.obj-box{
    border-radius: 10%;
    margin: 80px 0px ;
    width: 600px;
    height: 100px;
    left: 5%;
    background: transparent;
    color: #fff;
    top:46%;
    left: border;
    position: absolute;
    box-sizing: border-box; 
}

.obj-box h1{
    border-radius: 30%;
    background:#000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
}

.obj-box p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 23px;
    color: #000;
}

.hotel-box{
    margin:100px 40px;
    left: 40%;
    top: 0px;
    padding: 0;
    width: 400px;
    height:400px;
}

.hotel-box img{
    margin:-20px 750px;
    left: 40%;
    top: 710px;
    padding: 0;
    width: 400px;
    height:400px;
}

.serv-box{ 
    margin: 400px 210px;
    width: 600px;
    height: 100px;
    left: 35%;
    background: transparent;
    color: #fff;
    top:510px;
    left: border;
    position: absolute;
    box-sizing: border-box; 
}

.serv-box h1{
    border-radius: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 40px;
    background: #000;
}

.serv-box p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 23px;
    color: #000;
}

.serv-main ul{
    display: flex;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    border: 0;
    padding: 0;
    margin: -40px -87px;
    text-decoration: rgb(6, 107, 240);
    font-size: 19px;
    line-height: 20px;
    color: rgb(34, 34, 37);
}

.serv-main ul li{
    color:rgb(6, 107, 240);
    padding: 50px;
}

.serv-main ul li a:hover{
    border-bottom: 2px solid blue;

}

.serv-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.serv-main ul a{
    color:rgb(6, 107, 240);
    padding: 8px;
}

.cuarto-box{
    margin:150px 90px;
    left: 40%;
    top: 710px;
    padding: 0;
    width: 500px;
    height: 400px;
}

.cuarto-box img{
    margin:-20px 20px;
    left: 40%;
    top: 710px;
    padding: 0;
    width: 500px;
    height: 400px;
}

.hor-box{
    margin: 700px 0px;
    width: 600px;
    height: 100px;
    left: 5%;
    background: transparent;
    color: #fff;
    top:730px;
    left: border;
    position: absolute;
    box-sizing: border-box; 
}

.hor-box h1{
    border-radius: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    background: #000;
    font-size: 40px;
}

.hor-box p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 23px;
    color: #000;
}

.piscina-box{
    margin:-20px 760px;
    left: 40%;
    top: 710px;
    padding: 0;
    width: 500px;
    height: 400px;
}

.piscina-box img{
    margin:-50px -10px;
    left: 40%;
    top: 710px;
    padding: 0;
    width: 500px;
    height: 400px;
}

.res-box{ 
    margin: 1400px 210px;
    width: 600px;
    height: 100px;
    left: 35%;
    background: transparent;
    color: #fff;
    top:510px;
    left: border;
    position: absolute;
    box-sizing: border-box; 
}

.res-box h1{
    border-radius: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 40px;
    background: #000;
}

.res-box p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 23px;
    color: #000;
}

.res-main ul{
    display: flex;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    border: 0;
    padding: 0;
    margin: -40px -87px;
    text-decoration: rgb(6, 107, 240);
    font-size: 19px;
    line-height: 20px;
    color: rgb(34, 34, 37);
}

.res-main ul li{
    color:rgb(6, 107, 240);
    padding: 50px;
}

.res-main ul li a:hover{
    border-bottom: 2px solid blue;

}

.res-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.res-main ul a{
    color:rgb(6, 107, 240);
    padding: 8px;
}

.check-box{
    margin:130px 80px;
    left: 40%;
    top: 710px;
    padding: 0;
    width: 500px;
    height: 400px;
}

.check-box img{
    margin:-50px 40px;
    left: 40%;
    top: 710px;
    padding: 0;
    width: 500px;
    height: 400px;
}

.lin-box{
    margin: -130px -20px;
    padding: 0;
    width: 1315px;
    height:180px;
    background: url('./Img/linea.png') no-repeat center center/cover;
}

.cont-box{
    margin: 1300px 0px;
    width: 1206px;
    height: 140px;
    left: 5%;
    background: transparent;
    color: #fff;
    top:1200px;
    left: border;
    position: absolute;
    box-sizing: border-box;
}

.cont-box h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    font-size: 40px;
}

/*Contacto*/
.con-main{
    margin: -970px 0px;
    font-size: 20px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2150px;
    padding: 20px 0;
}

.con-brand{
    width: 50px;
}

/*Con left*/

.con-main ul{
    display: flex;
}

.con-main ul li{
    padding: 50px;
}

.con-main ul li a:hover{
    border-bottom: 2px solid #000;

}

.con-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.con-main ul a{
    padding: 8px;
}
